<!DOCTYPE html> 
<html lang="en"> 
	<head> 
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>%PAGETITLE%</title>
		<link rel="stylesheet" type="text/css" href="/gpstracker/css/gpstracker.css">
		<style>
			html,body {width:100%;}
		</style>
	</head>
<body>
<div class="header">
	<h1>Simple GPS Data Server - Device Administration</h1>
</div>
<div class="content">
<div style="float:right;"><a class="but" href="%URL%/?admin_device=new">register new device</a></div>
<h2>%NEWDEVICE%</h2>
<form action="%URL%">
<input name="admin_device" value="%MODE%" type="hidden">
<input name="devno" value="%DEVNO%" type="hidden">
<div style="display:inline-block;margin-right:10px;">
<label for"name" style="display:block">Device name</label>
<input id="name" value="%NAME%" name="name" maxlength="20" size="15">
</div>
<div style="display:inline-block;margin-right:10px;">
<label for"ID" style="display:block">Identification</label>
<input id="ID" value="%ID%" name="id" maxlength="15" size="10">
</div>
<div style="display:inline-block;margin-right:10px;">
<label for"desc" style="display:block">Description of device</label>
<input id="desc" value="%DESC%" name="desc" maxlength="50" size="40">
</div>
<div style="display:inline-block;margin-right:10px;">
<label for"hist" style="display:block">Days</label>
<input id="hist" value="%HISTORY%" name="history" maxlength="3" size="4">
</div>
<button>%CHANGEBUTTONTXT%</button>
</form>
<div style="margin-top:15px;">%ADMINBUTTONS%</div>
<div>
<dl>
<dt>Name</dt><dd> a short descriptive name of the device (min 5 characters long)<br>Will be shown on top of page when viewing tracks</dd>
<dt>Identification</dt><dd>unique identification of the device (use only letters and numbers, not case sensitive, min. length 5).<br> This has to be used by the device to deliver data and to select the device when viewing GPS data</dd>
<dt>Description</dt> <dd>More detailed description of device. Will be shown as additional infomation when viewing GPS data</dd>
<dt>Days</dt> <dd>Number of days to store the GPS data</dd>
</dl>
</div>

<hr>
<div class="devicelist">
<h2>List of registered devices</h2>
%DEVICELIST%
</div>
<hr>
</div>
</body>
</html>
