RewriteEngine on
RewriteBase /gpstracker

# passthru js and css dir
RewriteCond $1 (js|css)
RewriteRule ^([a-z]*)/(.+)$ - [NC,L]

# allow gpstracker/id/123456 
RewriteCond $1 (id)
RewriteRule ^([a-z]*)/(.+)$ index.php?id=$2 [R,L]



