html, body { 
	margin:0; 
	padding:0; 
	background:white;
	width:500px;
}
div.content {
	margin:0px 20px 0px 10px;
}
input, p, button, div {
	font-size:1.0em;  
	font-weight: normal;
}
label {
	font-size:1.0em; 
	font-weight: normal;
}
h1 {
	font-size:1.1em; 
	color:white;
	text-align:center;
	line-height:30px;
	vertical-align:middle;
	top:0;
	left0;
	margin:0;
	padding0;
}

dt {font-weight:bold;}
table {
	border-collapse:collapse; 
	font-height:0.8em;
}
th {text-align: left;}
td { 
	font-size:80%; 
	vertical-align:middle; 
	border-top:1px solid lightgray; 
	height:25px; 
	padding:2px 10px 2px 2px;
}
a.but {
	font-size:120%;
	background:gray; 
	color:white; 
	display:inline; 
	padding:1px 7px 1px 7px; 
	text-decoration:none;
}

div.header { 
	clear:both; 
	width:100%; 
	heighth:40px;
	margin:0;
	padding:0;
	text-align:center;
	top:0;
	left:0;
	background:steelblue;
 }
div.map { 
	display:block; 
	width:470px; 
	height:500px; 
	margin:10px 10px 10px 0px;
}
@media screen and (min-width:700px) {
	html,body { width:700px; }
	div.map {height:700px; width:670px;  }
} 
@media screen and (min-width:1000px) {
	html,body {width:1000px; }
	div.map {height:700px; width:970px;  }
} 
