//
// Configuration for known tracking devices for TCP and UDP communication
// ======================================================================
//
// This is mainly in JSON format ("key", value pairs), but with comment lines "//" and some special keywords (see below) 
//
// TEST YOUR REGULAR EXPRESSIONS ON regexp101.com for an example message  
// DUPLICATE EACH "\" AFTER THE EXPRESSION WORKS
[
// ------------  TK103_H02 ---------------------------------------------
		{
			"Device":	"TK103B-H02", 
			"Login": 	{"msg":"",								"resp":""},
			"Heartbeat": 	{"msg":"^\\*\\w{2},(\\d{15}),XT,[V|A]*,([0-9]+),([0-9]+)#\\s*$",	"resp":""},
			"Gps_data": 	{"msg":"^\\*\\w{2},([0-9]{15}),V1,%REGEXP_GPRMC%,.*$", 			"resp":""},
			"Order":      	[                  %DEVIMEI%,        %GPRMC%],
			"Units":      	[                   %NONE%,           %NONE%]
		},
// ------------  END TK103_H02 ------------------------------------------

// ------------ GPS-logger for Android APP via UDP -------------------
		{
			"Device":	"GPS Logger (UDP)", 
			"Login": 	{"msg":"",								"resp":""},
			"Heartbeat": 	{"msg":"", 								"resp":""},
			"Gps_data": 	{"msg":"^\\w+\\/(\\w+)\\/\\$GPRMC,%REGEXP_GPRMC%,.*$", 			"resp":""},
			//                       user   devid       GPRMC record    
			//example data: uabcde/Y0xXyY/$GPRMC,180725,A,5637.37477,N,1211.26495,E,0.000000,0.000000,021017,,*20
			"Order": 	[	%DEVID%,		     	%GPRMC%],
			"Units": 	[	%NONE%,				%NONE%]
		},
// ----------- END GPS-logger ----------------------------------------

// ------------ TK103 ------------------------------------------------
//		{
//			"Device":		"TK103-untested and incomplete",
//			"Login":		{"msg":"^\\((\\d{12})(BP05)([A-Z0-9.]*)\\).*$", 		"resp":"DATETIMEAP05HSO"},
//			"Heartbeat":	{"msg":"", 								"resp":""},
//			"Gps_data":		{"msg":"^\\((\\d{12})(B[A-Z]\\d{2})([A-Z0-9.]*)\\).*$", 	"resp":""},
//			"Order":		[ 			%DEVID%,  %NONE%,       %GPRMC%],
//			"Units":		[			%NONE%,   %NONE%,       %NONE%]
//		},
// --------- END TK103 ------------------------------------------------

// ----------- GL103 --------------------------------------------------
//	{.Device="GL103-untested and incomplete", .type=GL103,
//	 .Login		= {.Msg="^##,imei:(\\d+),A;.*$", .Resp="LOAD"},
//	 .Heartbeat 	= {.Msg="^imei:(\\d+);.*$", .Resp="ON"},
//	 .Gps_data	= {.Msg="^imei:(\\d+),(\\d+|A),?(\\d*),?(\\d+),?([a-z0-9,%.]+);.*$", .Resp=NULL},
//	 .Order     	= {DEVID},
//	 .Units		= {NONE}}
//};

// ------------ LAST ENTRY - DO NOT REMOVE ---------------------------
		{
			"Device":""
		}
// ------------ END OF LIST ------------------------------------------
]
// device: 	name of device (string)
//
// Three regular expression patterns ("msg:") are needed per device
// Login 	: login message of device
// Heartbeat 	: heartbeat message of the device
// Gps_data 	: the actual message containing GPS data   
//
// For each message type a, currently static, response (e.g. "resp":"OK") can be entered
//
// The GPS data record is described by a regular expresssion
// Each match in the regular expression has to be accompanied by an Order and Units list
// Order: 	assign the corresponding parameter to the matched pattern (in parentheses) a keyword (see below)
// Units: 	for each parameter in order define the unit as a keyword(see below)
//
// ALL KEYWORDS HAVE TO BE ENCLOSED IN "%", e.g. %DEVIMEI% for the device IMEI number
//
// Allowed Keywords:
// REGEXP_GPRMC : regular expression for the standard GPRMC record w/o $GPRMC header, magnetic deviation and check sum (from TIME up to DATE)
//                "([0-9]{6},[A|V]*,[0-9.]+,[N|S],[0-9.]+,[E|W],[0-9.]+,[0-9.]+,[0-9]{6})"
// "Order": [       TIME,   ACTIVE,  LAT,    NS,   LON,    EW,   SPEED,  ANGLE,   DATE]
// "Units": [       NONE,    NONE,  DEGMIN, NONE, DEGMIN, NONE,  KNOTS, DEGREE,   NONE]
//
// DEVIMEI	: device IMEI number
// DEVID	: device ID defined in the HTTP interface and provided by device
// ACTIVE	: A or V (active or void) entry
// LAT		: lattitude
// NS		: N or S (North or South)
// LON		: longitude
// EW		: E or W (East or West)
// SPEED	: current speed
// ANGLE	: angle of movement
// TIME		: time (HHMMSS) 
// DATE		: date (DDMMYY)
// ALT		: altitude 
// ACC		: accuracy/precision of location
//
// Units:
// DEGMIN	: format of lat/lon  in degree*100 + minutes
// DEGREE	: format of lat/lon/angle  in degree
// KMPERH	: speed in km/h		
// MPERS	: speed in m/s*$
// KNOTS	: speed in knots
